<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Progress Bar</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" 
                role="progressbar" 
                [style.width] = "blueProgress + '%'"
                [attr.ariaValuneNow] = "blueProgress" aria-valuenow="50" 
                aria-valuemin="0" 
                aria-valuemax="100">
              </div>
            </div>  
            <br>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" 
                role="progressbar" 
                [style.width] = "greenProgress + '%'"
                [attr.ariaValuneNow] = "greenProgress" aria-valuenow="50" 
                aria-valuemin="0" 
                aria-valuemax="100">
              </div>
            </div>    
          </div>
      </div>
  </div>
</div>

<div class="row">

  <div class="col-6">
      <div class="card">
        <div class="card-body">
          <app-incrementer (valueChanged)="blueProgress = $event" name="Progress Blue" [progress]= "blueProgress"></app-incrementer>
        </div>
    </div>
  </div>

  <div class="col-6">
      <div class="card">
        <div class="card-body">
          <app-incrementer (valueChanged)="greenProgress = $event" name="Progress Green" [progress]="greenProgress"></app-incrementer>
        </div>
    </div>
  </div>

</div>
