<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-graphic-doughnut
          [leyend]="graphics.graphic1.leyend" 
          [labels]="graphics.graphic1.labels" 
          [data]="graphics.graphic1.data"
          [type]="graphics.graphic1.type">
        </app-graphic-doughnut>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-graphic-doughnut
          [leyend]="graphics.graphic2.leyend" 
          [labels]="graphics.graphic2.labels" 
          [data]="graphics.graphic2.data"
          [type]="graphics.graphic2.type">
        </app-graphic-doughnut>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-graphic-doughnut
          [leyend]="graphics.graphic3.leyend" 
          [labels]="graphics.graphic3.labels" 
          [data]="graphics.graphic3.data"
          [type]="graphics.graphic3.type">
        </app-graphic-doughnut>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-graphic-doughnut
          [leyend]="graphics.graphic4.leyend" 
          [labels]="graphics.graphic4.labels" 
          [data]="graphics.graphic4.data"
          [type]="graphics.graphic4.type">
        </app-graphic-doughnut>
      </div>
    </div>
  </div>
</div>